html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

#a {
  background-image: url(../Karpimas/img/sectionA/bg.jpg);
}

.container1 {
  display: block;
  margin: 0 auto;
  width: 62.5%;
  font-size: 0;
}
.container1 header {
  display: inline-block;
  width: 100%;
  margin-top: 2.4rem;
}
.container1 header h1 {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  color: white;
  width: 50%;
}
.container1 header nav {
  display: inline-block;
  width: 50%;
}
.container1 header nav ul :nth-child(6) {
  margin-right: 4.9rem;
}
.container1 header nav ul :nth-child(7) {
  margin-right: 0;
}
.container1 header nav ul a {
  font-family: "Montserrat";
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  margin-right: 4.9rem;
  text-decoration: none;
}
.container1 header nav ul :hover {
  color: #fce38a;
  -webkit-text-decoration: underline 0.3rem;
          text-decoration: underline 0.3rem;
  text-underline-offset: 0.8rem;
}

.info1 {
  text-align: center;
}
.info1 h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
  color: white;
  font-size: 7.2rem;
  margin-top: 17.5rem;
}
.info1 h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15rem;
  color: white;
  text-transform: uppercase;
  margin-top: 4.5rem;
}
.info1 img {
  display: block;
  margin: 0 auto;
  margin-top: 3.5rem;
}
.info1 button {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: "Montserrat";
  font-weight: 700;
  width: 16rem;
  height: 4rem;
  border: 3px solid white;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  text-transform: uppercase;
  margin-top: 5rem;
}

.line1 {
  display: inline-block;
  width: 25%;
  margin-top: 15.5rem;
}
.line1 img {
  margin-bottom: 2rem;
}
.line1 p {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
.line1 h6 {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
}

#b {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 0;
}

.info2 {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.info2 h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-top: 6.5rem;
}
.info2 h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 1.3rem;
  margin-bottom: 3.2rem;
}
.info2 p {
  font-weight: "Roboto";
  font-weight: 400;
  color: #999999;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.photos2 {
  display: block;
  margin: 0 auto;
  width: 62.5%;
  margin-bottom: 11rem;
}
.photos2 :nth-child(2) {
  margin: 0 2.9rem;
}

.numbers2 {
  display: block;
  margin: 0 auto;
  background: #95e1d3;
  font-size: 0;
  width: 100%;
}

.bloc {
  display: block;
  width: 62.5%;
  margin: 0 auto;
}
.bloc .containerNumber {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  text-align: center;
}
.bloc .containerNumber h5 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 7.2rem;
  color: white;
  padding-top: 8rem;
}
.bloc .containerNumber p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 9rem;
}

#c {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 62.5%;
}

.c1 {
  text-align: center;
}
.c1 h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 9rem;
}
.c1 h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 1.2rem;
}
.c1 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-top: 4rem;
}
.c1 img {
  margin-top: 3rem;
}

.c2 {
  display: inline-block;
  width: 100%;
  margin-top: 6.5rem;
}
.c2 div {
  display: inline-block;
  width: 33.33%;
}
.c2 div div {
  display: inline-block;
}
.c2 h1 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}
.c2 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
  color: #999999;
  width: 290px;
  height: 81px;
  margin-left: 55px;
}
.c2 img {
  align: left;
  margin-right: 20px;
}

.c3 {
  display: inline-block;
  width: 100%;
  margin-top: 4.8rem;
}
.c3 div {
  display: inline-block;
  width: 33.33%;
}
.c3 div div {
  display: inline-block;
}
.c3 h1 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}
.c3 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  display: inline-block;
  width: 290px;
  height: 81px;
  margin-left: 55px;
  margin-bottom: 8rem;
}
.c3 img {
  align: left;
  margin-right: 20px;
}

.d {
  text-align: center;
}
.d h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
}
.d h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 1.2rem;
}
.d p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-top: 4rem;
}
.d img {
  margin-top: 3rem;
}

.container4 {
  background-image: url(../Karpimas/img/sectionD/bg1.jpg);
  background-repeat: no-repeat;
  padding-top: 10.9rem;
  position: relative;
}
.container4 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5rem;
}

.d1 {
  position: absolute;
  top: 50%;
  right: 32%;
}

#f {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 62.5%;
}
#f .info5 {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 11rem;
}
#f .info5 h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
}
#f .info5 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  margin-top: 1rem;
  margin-bottom: 3.6rem;
}
#f .info5 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-top: 4rem;
  margin-bottom: 9rem;
}

.containerF {
  display: block;
  margin: 0 auto;
  font-size: 0;
}
.containerF img {
  display: inline-block;
}
.containerF .textarea {
  display: inline-block;
  width: 50%;
  margin-bottom: 12rem;
  margin-left: 2.5rem;
  vertical-align: top;
}
.containerF .textarea :nth-child(3) {
  margin-top: 1rem;
}
.containerF .textarea :nth-child(4) {
  margin-top: 1rem;
}
.containerF .textarea textarea {
  box-sizing: border-box;
  height: 18rem;
  width: 60rem;
  scrollbar-track-color: red;
}
.containerF .textarea div {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  height: 6rem;
  width: 60rem;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  text-transform: uppercase;
}
.containerF .textarea img, .containerF .textarea h5 {
  display: inline-block;
}
.containerF .textarea img :nth-child(1), .containerF .textarea h5 :nth-child(1) {
  display: inline-block;
  vertical-align: middle;
}
.containerF .textarea img :nth-child(2), .containerF .textarea h5 :nth-child(2) {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
}
.containerF .textarea img :nth-child(3), .containerF .textarea h5 :nth-child(3) {
  display: inline-block;
  padding: 25px 15px 15px 15px;
}

.margin {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}
.margin :nth-child(1) {
  display: inline-block;
  vertical-align: middle;
}
.margin :nth-child(2) {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 1rem;
}
.margin :nth-child(3) {
  display: inline-block;
  float: right;
}

#g {
  display: block;
  margin: 0 auto;
  font-size: 0;
  background-color: #f8f8f8;
  width: 100%;
}

.containerG {
  display: block;
  width: 62.5%;
  margin: 0 auto;
  vertical-align: middle;
}

.info6 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 7rem 0;
}
.info6 :nth-child(3) {
  display: inline-block;
  width: 62.5%;
  margin: 0;
  vertical-align: top;
  margin-top: 1rem;
  margin-left: 6rem;
}
.info6 :nth-child(3) :nth-child(1) {
  display: inline-block;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 2.4rem;
  color: #999999;
}
.info6 :nth-child(3) :nth-child(2) {
  margin-top: 2rem;
}
.info6 :nth-child(3) :nth-child(2) :nth-child(1) {
  display: inline-block;
  margin-bottom: 0.7rem;
}
.info6 :nth-child(3) :nth-child(2) :nth-child(2) {
  display: inline-block;
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-left: 1rem;
}
.info6 :nth-child(4) {
  float: right;
  padding: 2rem;
  margin-top: 4rem;
}

.g1 {
  padding: 2rem;
  margin-bottom: 4rem;
}

.g2 {
  margin-left: 7.5rem;
}

#h {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
}

.containerH {
  display: block;
  width: 62.5%;
  margin: 0 auto;
  text-align: center;
}

.infoH {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 80%;
  margin-top: 10rem;
}
.infoH h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 1rem;
}
.infoH h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 3.7rem;
}
.infoH img {
  margin-bottom: 4rem;
}
.infoH p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-bottom: 9rem;
}

.img {
  display: block;
  margin: 0 auto;
  font-size: 0;
}
.img div {
  display: inline-block;
}
.img div h5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
}
.img div p {
  font-size-adjust: "Roboto";
  font-style: italic;
  font-size: 1.5rem;
  color: #999999;
  margin-top: 1rem;
  margin-bottom: 12rem;
}
.img :nth-child(2) {
  margin: 0 3rem;
  margin-top: 3rem;
}

#i {
  display: block;
  margin: 0 auto;
  background-color: #f8f8f8;
}
#i img {
  display: block;
  margin: 0 auto;
  padding: 6rem 0;
}

#y {
  display: block;
  margin: 0 auto;
  font-size: 0;
}

.containerY {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
}

.infoY {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 11rem;
}
.infoY h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 1rem;
}
.infoY h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.infoY img {
  margin-bottom: 4rem;
}
.infoY p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-bottom: 10rem;
}

.photosY {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
.photosY div {
  display: inline-block;
  width: 25%;
}

#j {
  display: block;
  margin: 0 auto;
  font-size: 0;
  background-color: #f8f8f8;
  width: 100%;
}

.containerj {
  display: block;
  width: 62.5%;
  margin: 0 auto;
  vertical-align: middle;
}

.infoj {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 10rem 0;
}
.infoj :nth-child(3) {
  display: inline-block;
  width: 62.5%;
  margin: 0;
  vertical-align: top;
  margin-top: 4rem;
  margin-left: 3rem;
}
.infoj :nth-child(3) :nth-child(1) {
  display: inline-block;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 2.4rem;
  color: #999999;
}
.infoj :nth-child(3) :nth-child(2) {
  margin-top: 2rem;
}
.infoj :nth-child(3) :nth-child(2) :nth-child(1) {
  display: inline-block;
  margin-bottom: 0.7rem;
}
.infoj :nth-child(3) :nth-child(2) :nth-child(2) {
  display: inline-block;
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-left: 1rem;
}
.infoj :nth-child(4) {
  float: right;
  padding: 2rem;
  margin-top: 7rem;
}

.j1 {
  padding: 2rem;
  margin-bottom: 7rem;
}

.j2 {
  margin-left: 7.5rem;
}

#k {
  background-image: url(../Karpimas/img/sectionK/Layer53.jpg);
}

.containerk {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 62.5%;
}

.infok {
  text-align: center;
  padding-top: 11rem;
}
.infok h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 1rem;
}
.infok h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 3.7rem;
}
.infok img {
  margin-bottom: 4rem;
}
.infok p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-bottom: 9rem;
}

.containerpeople {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
}

.people {
  display: block;
  width: 100%;
}

.p1 {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.p1 h5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  color: #333333;
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.p1 h6 {
  font-family: "Roboto";
  font-style: italic;
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 1rem;
}
.p1 img {
  margin-bottom: 3rem;
}
.p1 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
}

.p2 {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.p2 h5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  color: #333333;
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.p2 h6 {
  font-family: "Roboto";
  font-style: italic;
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 1rem;
}
.p2 img {
  margin-bottom: 3rem;
}
.p2 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
}

.p21 > {
  display: inline-bock;
  box-sizing: border-box;
}
.p21 > img {
  padding-left: 40px;
}

.p22 {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-bottom: 7rem;
}

.containerl {
  display: block;
  margin: 0 auto;
  width: 62.5%;
  font-size: 0;
}

.infol {
  text-align: center;
  padding-top: 11rem;
}
.infol h4 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 1rem;
}
.infol h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 3.7rem;
}
.infol img {
  margin-bottom: 4rem;
}

.contentl {
  display: inline-block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
  margin-bottom: 11.5rem;
}
.contentl :nth-child(2) {
  margin: 0 0.5rem;
  margin-left: 1rem;
}

.continfo {
  display: inline-block;
  margin: 0 auto;
  font-size: 0;
  width: 32.5%;
}
.continfo h5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  padding-top: 2rem;
  margin-left: 1.5rem;
}
.continfo p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  padding-top: 1rem;
  margin-left: 1rem;
}
.continfo hr {
  display: block;
  color: #e5e5e5;
  width: 95%;
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.lphotos {
  display: inline-block;
  margin-left: 1rem;
}
.lphotos :nth-child(2) {
  display: inline-block;
  padding-left: 2rem;
}

#n {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.containerN {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 62.5%;
}

.infoN1 {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
}
.infoN1 h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4.6rem;
  color: #cccccc;
  margin-top: 7rem;
}
.infoN1 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #999999;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.infoN1 h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
  color: #333333;
  margin-top: 2rem;
}
.infoN1 h2 span {
  font-weight: 700;
}
.infoN1 div {
  display: inline-block;
}
.infoN1 div h6 {
  display: inline-block;
  font-weight: "Roboto";
  font-style: italic;
  font-size: 1.5rem;
  color: #999999;
  margin-right: 2rem;
  margin-bottom: 3rem;
}
.infoN1 hr {
  margin: 2rem 0rem;
}
.infoN1 input {
  box-sizing: border-box;
  width: 23rem;
  height: 4rem;
  border: none;
}
.infoN1 input [placeholder] {
  font-family: "Roboto";
  font-style: italic;
  font-size: 1.5rem;
  color: #cccccc;
}
.infoN1 button {
  box-sizing: border-box;
  width: 16rem;
  height: 4rem;
  border: none;
  color: white;
  background-color: #95e1d3;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.infoN2 {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  vertical-align: bottom;
}
.infoN2 div {
  display: inline-block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
}
.infoN2 div img {
  display: inline-block;
}
.infoN2 div h4 {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
}
.infoN2 div h5 {
  display: inline-block;
  font-family: "Roboto";
  font-style: 300;
  font-size: 1.3rem;
  color: #999999;
}
.infoN2 h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: 2.8rem;
}
.infoN2 :nth-child(3) {
  margin: 3rem 0rem;
}

.infoN3 {
  display: inline-block;
  width: 22.5%;
}/*# sourceMappingURL=style.css.map */