
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

//kodas
// varibles 
//color
$white: rgb(255,255,255)
$greenishh: rgb(149,225,211)
$grey: rgb(248,248,248)
$yellow: rgb(252,227,138)
$grey1: rgb(153, 153, 153)
$h1: rgb(51, 51, 51)
//font-family
$Kaushan: 'Kaushan Script'
$Mont: 'Montserrat'
$Roboto: 'Roboto'
//font bold
$light: 300
$reg: 400
$bold: 700
//font style
$italic: italic
//size
html
    font-size: 10px
//secction a
#a
    background-image: url(../Karpimas/img/sectionA/bg.jpg)
.container1
    display: block
    margin: 0 auto
    width: 62.5%
    font-size: 0
    header
        display: inline-block
        width: 100%
        margin-top: 2.4rem
        h1
            display: inline-block
            font-family: $Mont
            font-size: 3rem
            font-weight: $bold
            color: $white
            width: 50%
        nav
            display: inline-block
            width: 50%
            ul
                :nth-child(6)
                    margin-right: 4.9rem
                :nth-child(7)
                    margin-right: 0
                a
                    font-family: $Mont
                    font-size: 1.4rem
                    color: $white
                    text-transform: uppercase
                    margin-right: 4.9rem
                    text-decoration: none
                :hover
                    color: $yellow
                    text-decoration: underline 0.3rem
                    text-underline-offset: 0.8rem

.info1
    text-align: center

    h2
        font-family: $Kaushan
        font-weight: $reg
        color: $white
        font-size: 7.2rem
        margin-top: 17.5rem
    h3
        font-family: $Mont
        font-weight: $bold
        font-size: 15rem
        color: $white
        text-transform: uppercase
        margin-top: 4.5rem
    img
        display: block
        margin: 0 auto
        margin-top: 3.5rem
    button
        box-sizing: border-box
        font-size: 1.4rem
        font-family: $Mont
        font-weight: $bold
        width: 16rem
        height: 4rem
        border: 3px solid $white
        background-color: rgba(255, 0, 0, 0)
        color: $white
        text-transform: uppercase
        margin-top: 5rem
.line1
    display: inline-block
    width: 25%
    margin-top: 15.5rem
    img
        margin-bottom: 2rem
    p
        display: inline-block
        font-family: $Mont
        font-weight: $reg
        font-size: 2rem
        color: $white
        text-transform: uppercase
    h6
        display: inline-block
        font-family: $Mont
        font-weight: $bold
        font-size: 2rem
        color: $white
        text-transform: uppercase
        margin-bottom: 2rem
        margin-right: 0.5rem
//section a end
//section b
#b
    display: block
    margin: 0 auto
    width: 100%
    font-size: 0
.info2
    display: block
    width: 50%
    margin: 0 auto
    text-align: center
    h2
        font-family: $Kaushan
        font-weight: $reg
        font-size: 2.4rem
        color: $h1
        margin-top: 6.5rem
    h3
        font-family: $Mont
        font-weight: $bold
        font-size: 3rem
        text-transform: uppercase
        margin-top: 1.3rem
        margin-bottom: 3.2rem
    p
        font-weight: $Roboto
        font-weight: $reg
        color: $grey1
        font-size: 1.5rem
        margin-top: 4rem
        margin-bottom: 10rem
.photos2
    display: block
    margin: 0 auto
    width: 62.5%
    margin-bottom: 11rem
    :nth-child(2)
        margin: 0 2.9rem
.numbers2
    display: block
    margin: 0 auto
    background: $greenishh
    font-size: 0
    width: 100%

.bloc
    display: block
    width: 62.5%
    margin: 0 auto

    .containerNumber
        display: inline-block
        box-sizing: border-box
        width: 20%
        border: 1px solid $white
        border-top: none
        border-bottom: none
        text-align: center
        h5
            font-family: $Mont
            font-weight: $bold
            font-size: 7.2rem
            color: $white
            padding-top: 8rem
        p
            font-family: $Mont
            font-weight: $reg
            font-size: 1.4rem
            text-transform: uppercase
            color: $white
            padding-bottom: 9rem
//section b end
//section c
#c
    display: block
    margin: 0 auto
    font-size: 0
    width: 62.5%
.c1
    text-align: center
    h4
        font-family: $Kaushan
        font-weight: $reg
        font-size: 2.4rem
        margin-top: 9rem
    h1
        font-family: $Mont
        font-weight: $bold
        font-size: 3rem
        text-transform: uppercase
        margin-top: 1.2rem
    p
        font-family: $Roboto
        font-weight: $reg
        font-size: 1.5rem
        color: $grey1
        margin-top: 4rem
    img
        margin-top: 3rem

.c2
    display: inline-block
    width: 100%
    margin-top: 6.5rem
    div
        display: inline-block
        width: 33.33%
        div
            display: inline-block

    h1
        font-family: $Mont
        font-weight: $reg
        font-size: 1.4rem
        color: $h1
        text-transform: uppercase
        display: inline-block
        vertical-align: top

    p
        font-family: $Roboto
        font-weight: $reg
        font-size: 1.5rem
        display: inline-block
        color: $grey1
        width: 290px
        height: 81px
        margin-left: 55px

    img
        align: left
        margin-right: 20px
.c3
    display: inline-block
    width: 100%
    margin-top: 4.8rem
    div
        display: inline-block
        width: 33.33%
        div
            display: inline-block

    h1
        font-family: $Mont
        font-weight: $reg
        font-size: 1.4rem
        text-transform: uppercase
        display: inline-block
        vertical-align: top

    p
        font-family: $Roboto
        font-weight: $reg
        font-size: 1.5rem
        color: $grey1
        display: inline-block
        width: 290px
        height: 81px
        margin-left: 55px
        margin-bottom: 8rem

    img
        align: left
        margin-right: 20px
//section c end
//section d
.d
    text-align: center
    h4
        font-family: $Kaushan
        font-weight: $reg
        font-size: 2.4rem

    h1
        font-family: $Mont
        font-weight: $bold
        font-size: 3rem
        text-transform: uppercase
        margin-top: 1.2rem
    p
        font-family: $Roboto
        font-weight: $reg
        font-size: 1.5rem
        color: rgb(153, 153, 153)
        margin-top: 4rem
    img
        margin-top: 3rem

.container4
    background-image: url(../Karpimas/img/sectionD/bg1.jpg)
    background-repeat: no-repeat
    padding-top: 10.9rem
    position: relative
    img
        display: block
        margin-left: auto
        margin-right: auto
        margin-top: 4.5rem
.d1
    position: absolute
    top: 50%
    right: 32%
//sectionD end
//section F
#f
    display: block
    margin: 0 auto
    font-size: 0
    width: 62.5%
    .info5
        display: block
        width: 50%
        margin: 0 auto
        text-align: center
        margin-top: 11rem
        h4
            font-family: $Kaushan
            font-weight: $reg
            font-size: 2.4rem
            color: $h1

        h2
            font-family: $Mont
            font-weight: $bold
            font-size: 3rem
            color: $h1
            margin-top: 1rem
            margin-bottom: 3.6rem
        p
            font-family: $Roboto
            font-weight: $reg
            font-size: 1.5rem
            color: $grey1
            margin-top: 4rem
            margin-bottom: 9rem
.containerF
    display: block
    margin: 0 auto
    font-size: 0
    img
        display: inline-block

    .textarea
        display: inline-block
        width: 50%
        vertical-align: middle
        margin-left: 2.5rem
        vertical-align: top

        textarea
            box-sizing: border-box
            height: 18rem
            width: 60rem
            scrollbar-face-color: red
        div

            font-family: $Mont
            font-weight: $reg
            font-size: 1.4rem
            color: $h1
            height: 6rem
            width: 60rem
            border: 1px solid grey
            box-sizing: border-box

            img, h5
                display: inline-block
            :nth-child(1)
                padding: 1.5rem
            :nth-child(2)
                display: inline-block
                font-family: $Mont
                font-weight: $reg
                font-size: 1.4rem
                color: $h1
                text-transform: uppercase
                padding-bottom: 1100px

            :nth-child(3)
                padding: 30px 15px 15px 15px
                float: right

.margin
    margin-top: 1rem
