/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
    /* kodas */
body>section{
	display: block;
	margin: 0 auto;
	font-size: 0;
}
body>section>:nth-child(1){ /* picture */
	display: inline-block;
	background-image: url(natures.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 100vh;

}
body>section>:nth-child(2){
display: inline-block;
font-size: 1rem;
width: 50%;
height: 100vh;
vertical-align: top;
margin-top: 70px;
box-sizing: border-box;
padding-left: 50px;;
}
body>section>:nth-child(2)>img{
	display: inline-block; /* ??????????????????? */
	background-image: url(icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80px;
	margin-top: 50px;

}

body>section>:nth-child(2)>h1{
	font-size: 3rem;
	font-weight: bold;
	margin-top: 30px;
}
body>section>:nth-child(2)>p{
	color:grey;
	margin-top: 30px;	
}
body>section>:nth-child(2)>form{
	display: block;
	margin: 0 auto;
	
	
}
body>section>:nth-child(2)>form>input,button{
	display: inline-block;
	padding: 30px 50px;
	margin-top: 40px;
	border-radius: 5px;	
	font-weight: bold;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	width: 70%;
}
body>section>:nth-child(2)>form>button{
	background-color: lightgreen;
	color:white;

}
body>section>:nth-child(2)>form>p{
	margin-top: 10px;
	color:lightgray
}